.main {
    width: 1000px;
    margin-left: 410px;
    padding: 50px;
}

.main1 {
    margin-left: 25px;
    margin-top: 30px;
    width: 325px;
}

.name {
    position: relative;
    left: 200px;
    top: -37px;
    line-height: 40px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
}

.pname {
    position: relative;
    left: 410px;
   top: -80px;
    line-height: 40px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
}

.main2 {
    margin-left: 25px;
    margin-top: 60px;
    width: 325px;
}

.aname {
    position: relative;
    left: 200px;
    top: -37px;
    line-height: 40px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
}

.gender {
    position: relative;
    left: 410px;
    top: -80px;
    line-height: 40px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
}

.main3 {
    margin-left: 25px;
    margin-top: 60px;
    width: 325px;
}

.search {
    position: relative;
    left: 200px;
    top: -37px;
    line-height: 40px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
}

.add {
    position: relative;
    left: 410px;
    top: -80px;
    line-height: 40px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
}
